<div class="sidebar-inner">

  <!-- Brand mark inside sidenav (visible on mobile) -->
  <div class="sidebar-brand">
    <span class="sidebar-brand-icon">🌿</span>
    <div class="sidebar-brand-text">
      <span class="sidebar-brand-name">{{ 'app.name' | translate }}</span>
      <span class="sidebar-brand-sub">{{ 'app.tagline' | translate }}</span>
    </div>
  </div>

  <mat-divider></mat-divider>

  <nav class="nav-list">
    <ng-container *ngFor="let item of navItems">
      <mat-divider *ngIf="item.divider" class="nav-divider"></mat-divider>
      <a mat-list-item
         [routerLink]="item.route"
         routerLinkActive="active-link"
         class="nav-item">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span matListItemTitle>{{ item.label | translate }}</span>
      </a>
    </ng-container>
  </nav>

  <div class="sidebar-footer">
    <mat-divider></mat-divider>
    <div class="sidebar-footer-text">
      <span>{{ 'app.name' | translate }}</span>
      <span class="version">v1.0.0</span>
    </div>
  </div>

</div>
